@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Home Page";

    List<IndexViewModel> cats = null;
    if (Model != null)
    {
        cats = Model.ToList();
    }
}

@if (cats == null || !cats.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place for adopting cats!</h1>
        <p class="lead">
            There are no cats in the system currently available
            so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <a asp-area="" asp-controller="Cat" asp-action="Add" class="btn btn-primary btn-lg"
                   role="button">Add Cat</a>
            }
        </p>
    </div>
}

<div class="mb-5"></div>

<main role="main" class="pb-3 text-center">
    <div id="carouselExampleControls" class="carousel slide d-inline-block" data-bs-ride="carousel" style="width: fit-content;">
        <div class="carousel-inner">
            @if (cats != null)
            {
                for (int i = 0; i < cats.Count(); i++)
                {
                    var cat = cats[i];
                    <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                        <img class="d-block mx-auto" style="max-height: 400px; max-width: 100%; object-fit: contain;" src="@cat.CoverImageUrl" alt="@cat.Name">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>
                                <a class="btn btn-primary" asp-controller="Cat" asp-action="Details" asp-route-id="@cat.Id"> @cat.Name</a>
                            </h5>
                        </div>
                    </div>
                }
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="left: 0;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" style="right: 0;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>


