@using CatGarden.Services.Data.Interfaces
@using CatGarden.Web.Infrastructure.Extensions
@using static CatGarden.Common.Enums
@model CatGarden.Web.ViewModels.Cattery.CatteryDetailsViewModel
@inject ICatteryOwnerService CatteryOwnerService
@inject ICatService CatService
@inject ICatteryService CatteryService
@{
    bool isCatteryOwner = await CatteryOwnerService.CatteryOwnerExistsByUserIdAsync(User.GetId()!);
    bool catteryIsOwnedByUser = await CatteryService.IsCatteryOwnedByUserAsync(User.GetId()!, Model.Id);
}
@{
    ViewData["Title"] = "Cattery Details";
}
<partial name="DeleteConfirmation" />

<style>
    .carousel-item img{
        width: 1300px;
        height: 500px;
        object-fit: cover;
    }

    #catteryCarouselControls {
        width: 1300px; /* Adjust as needed */
    }
</style>
<!-- Wide Image Carousel -->
<div id="catteryCarouselControls" class="carousel slide d-inline-block" data-bs-ride="carousel" >
    <div class="carousel-inner">
        @if (Model.Images != null && Model.Images.Any())
        {
            @foreach (var image in Model.Images)
            {
                <div class="carousel-item @(image.IsCover ? "active" : string.Empty)">
                    <img class="d-block mx-auto" src="@image.URL" alt="Cattery Image">
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#catteryCarouselControls" data-bs-slide="prev" style="left: 0;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#catteryCarouselControls" data-bs-slide="next" style="right: 0;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="ulandbuttons" style="display: flex; justify-content: space-between;">
    <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="cats-tab" data-bs-toggle="tab" href="#cats" role="tab" aria-controls="cats" aria-selected="true">Cats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
        </li>
        @if ((isCatteryOwner && catteryIsOwnedByUser) || User.IsAdmin())
        {
            <li class="nav-item">
                <a class="nav-link" id="adoptionApplications-tab" data-bs-toggle="tab" href="#adoptionApplications" role="tab" aria-controls="adoptionApplications" aria-selected="false">Adoption Applications</a>
            </li>
        }
    </ul>
    @if ((isCatteryOwner && catteryIsOwnedByUser) || User.IsAdmin())
    {
        <div class="edbuttons" style="display: flex;">
            <a asp-area="" asp-controller="Cattery" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
            <button id="deleteButton" class="btn btn-danger mb-2 w-100 p-3 fw-bold" style="margin-left: 1em;" data-cattery-id="@Model.Id">Delete</button>
        </div>
    }
</div>


<!-- Tab Content -->
<div class="tab-content" id="myTabContent">
    <!-- Cats Tab -->
    <div class="tab-pane fade show active" id="cats" role="tabpanel" aria-labelledby="cats-tab">
        <div class="row mt-3">
            @foreach (var cat in Model.Cats)
            {
                <div class="card col-4" style="width: 20rem; position: relative; padding-top: 12px;">
                     <img src="@cat.CoverImageUrl" class="card-img-top" alt="Cat Image">
                     <div class="card-body">
                         <h5 class="card-title mt-1">@cat.Name</h5>
                         <h6 class="card-title mt-1">@EnumExtensions.GetDisplayName(Enum.Parse<Breed>(cat.Breed))</h6>
                         <p class="mb-0"><span class="fw-bold">Gender: </span>@cat.Gender</p>
                         <p class="mb-0"><span class="fw-bold">Age: </span>@cat.Age</p>
                         <p class="mb-0"><span class="fw-bold">City: </span>@cat.Location</p>
                    </div>

                    <!-- Details button -->
                    <a asp-area="" asp-controller="Cat" asp-action="Details" asp-route-id="@cat.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">Details</a>

                    <!-- Delete button -->
                    @if ((isCatteryOwner && await CatService.IsCatPartOfOwnedCattery(cat.Id, User.GetId()!)) || User.IsAdmin())
                    {
                        <button id="deleteButton-@cat.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold deleteButton" data-cat-id="@cat.Id">Delete</button>
                    }
                </div>
            }
        </div>
    </div>
    <!-- Reviews Tab -->
    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        <div class="mt-3">
            @foreach (var review in Model.Reviews)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@review.Username</h5>
                        <p class="card-text">Rating: @review.Rating</p>
                        <p class="card-text">@review.Comment</p>
                        <p class="card-text">
                            <small class="text-muted">Posted on @review.DatePosted.ToString("dd-MM-yyyy")</small>
                        </p>
                    </div>
                    @if ((User.GetId() == review.UserId) || User.IsAdmin())
                    {
                        <div>
                            <a asp-area="" asp-controller="Review" asp-action="Edit" asp-route-id="@review.Id" class="btn btn-primary">Edit</a>
                            <a asp-area="" asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id" class="btn btn-danger">Delete</a>
                        </div>
                    }
                </div>
            }
            @if ((!isCatteryOwner && !catteryIsOwnedByUser) || User.IsAdmin())
            {
                <a asp-area="" asp-controller="Review" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary">Add a Review</a>
            }
        </div>
    </div>
    
    <!-- Adoption Applications Tab -->
    @if ((isCatteryOwner && catteryIsOwnedByUser) || User.IsAdmin())
    {
        <div class="tab-pane fade" id="adoptionApplications" role="tabpanel" aria-labelledby="adoptionApplications-tab">
            <div class="mt-3">
                @foreach (var cat in Model.Cats)
                {
                    @foreach (var application in cat.AdoptionApplications)
                    {
                        <div class="card mb-3" style="width: 500px;">
                            <div class="row">
                                <!-- Cat Cover Image -->
                                <div class="col-md-8" style="width:52.666667%">
                                    <div class="card-body">
                                        <h5 class="card-title">Application for @application.CatName</h5>
                                        <p class="card-text">Applicant: @application.Username</p>
                                        <p class="card-text">Application Date: @application.ApplicationDate.ToShortDateString()</p>
                                        <p class="card-text">Status: @application.ApplicationStatus</p>
                                        <div>
                                            <form asp-area="" asp-controller="AdoptionApplication" asp-action="Accept" asp-route-id="@application.Id" method="post">
                                                <button type="submit" class="btn btn-success btn-sm float-right">Accept</button>
                                            </form>

                                            <form asp-area="" asp-controller="AdoptionApplication" asp-action="Reject" asp-route-id="@application.Id" method="post">
                                                <button type="submit" class="btn btn-danger btn-sm float-right">Reject</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <img src="@cat.CoverImageUrl" class="card-img-top" alt="Cat Cover Image" style="width: 200px; height: 200px; object-fit: cover;">
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#deleteButton').click(function () {
                $('#deleteConfirmationModal').modal('show');
            });

            $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var catteryId = $('#deleteButton').data('cattery-id');
                var form = $('#deleteForm');
                form.attr('action', '/Cattery/Delete/' + catteryId);
            });
        });
    </script>
}
