@model CatGarden.ViewModels.Cat.CatDetailsViewModel

@using static CatGarden.Common.Enums
@using CatGarden.Services.Data.Interfaces
@using CatGarden.Web.Infrastructure.Extensions
@inject ICatteryOwnerService CatteryOwnerService
@{
    bool isCatteryOwner = await CatteryOwnerService.CatteryOwnerExistsByUserIdAsync(User.GetId()!);
}

<partial name="DeleteConfirmation" />

<script src="path/to/jquery.js"></script>
<script src="path/to/bootstrap.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<style>
    .col-md-7 img {
        width: 400px;
        height: 540px;
        object-fit: cover; 
    }

    .pro-img-list {
        text-align: right;
    }

    .pro-img-list img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-left: 10px;
    }

    .col-md-5 {
        padding-left: 20px;
        padding-top: 20px;
    }

    .col-md-7  {
        width: auto;
    }

    .right-column {
        float: right;
        width: calc(50% - 100px); 
        display: flex;
        justify-content: flex-end;
        flex-direction: column; 
    }

    .project-info-box {
        margin-bottom: 20px; 
    }

    .right-column .col-md-7 {
        margin-left: auto; 
    }

    .row {
        flex-wrap: nowrap !important;
    }
    .heart-icon {
        color: lightgreen; 
        font-size: 40px;
    }

    .heart-button {
        background-color: rgba(0, 0, 0, 0.3); 
        border: none;
        border-radius: 50%; 
        width: 60px; 
        height: 60px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-container {
        max-width: 1000px;
        margin: 0 auto;
    }
</style>



<div class="custom-container">
    <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>@Model.Name</h5>
                <p class="mb-0">@Model.Description</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Age:</b> @Model.Age</p>
                <p><b>Gender:</b> @Model.Gender</p>
                <p><b>Breed:</b> @EnumExtensions.GetDisplayName(Enum.Parse<Breed>(Model.Breed))</p>
                <p><b>Color:</b> @Model.Color</p>
                <p><b>Coat Length:</b> @Model.CoatLength</p>
            </div><!-- / project-info-box -->
            
            <!-- Button for sending application -->
            <div>
                @if (this.User.Identity?.IsAuthenticated ?? false)
                {
                    @if (!isCatteryOwner)
                    {
                        <a asp-controller="AdoptionApplication" asp-action="SendApplication" asp-route-id="@Model.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">Adopt</a>
                    }
                    else
                    {
                        <a asp-controller="Cat" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
                        <button id="deleteButton" class="btn btn-danger mb-2 w-100 p-3 fw-bold" data-cat-id="@Model.Id">Delete</button>
                    }
                }
            </div>
        </div>

        <div class="right-column">
            <div class="col-md-7 position-relative">
                <!-- Container for image and heart icon -->
                <div class=" position-relative">
                    <!-- Image -->
                    <img src="@Model.CoverImageUrl" alt="project-image" class="rounded">
                    <!-- Heart icon -->
                    <!-- Display heart icon if user is NOT a cattery owner -->
                    @if (!isCatteryOwner && (User.Identity?.IsAuthenticated ?? false))
                    {
                        @if (Model.isFavorite)
                        {
                            <form method="post" asp-controller="Cat" asp-action="RemoveFavorite" asp-route-catId="@Model.Id">
                                <button type="submit" class="btn btn-warning heart-button position-absolute top-0 end-0 m-2">
                                    <i class="fas fa-heart heart-icon"></i>
                                </button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-controller="Cat" asp-action="AddFavorite" asp-route-catId="@Model.Id">
                                <button type="submit" class="btn btn-warning heart-button position-absolute top-0 end-0 m-2">
                                    <i class="far fa-heart heart-icon"></i>
                                </button>
                            </form>
                        }
                    }


                </div>
                <!-- Project info box -->
                <div class="project-info-box">
                    <p><b>Date Added:</b> @Model.DateAdded.ToShortDateString()</p>
                    <p><b>Cattery:</b> <a asp-controller="Cattery" asp-action="Details" asp-route-id="@Model.CatteryId" style="text-decoration: none; ">@Model.CatteryName</a></p>


                </div><!-- / project-info-box -->
            </div>
        </div>
    </div>

    <!-- Move pro-img-list here -->
    <div class="row pro-img-list" style="display: flex; justify-content: flex-end;">
        @foreach (var imageUrl in Model.ImageUrls)
        {
            <div class="col-md-2">
                <!-- Adjust the column width as needed -->
                <a href="#">
                    <img src="@imageUrl" alt="">
                </a>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#deleteButton').click(function () {
            $('#deleteConfirmationModal').modal('show');
        });

        $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var catId = $('#deleteButton').data('cat-id');
            var form = $('#deleteForm');
            form.attr('action', '/Cat/Delete/' + catId);
        });
    });
</script>