@model CatGarden.ViewModels.Cat.CatDetailsViewModel
@using static CatGarden.Common.Enums
@using CatGarden.Web.Infrastructure.Extensions

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<style>
    .col-md-7 img {
        width: 400px;
        height: 540px;
        object-fit: cover; 
    }

    .pro-img-list {
        text-align: right;
    }

    .pro-img-list img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-left: 10px;
    }

    .col-md-5 {
        padding-left: 20px;
        padding-top: 20px;
    }

    .col-md-7  {
        width: auto;
    }

    .right-column {
        float: right;
        width: calc(50% - 100px); 
        display: flex;
        justify-content: flex-end;
        flex-direction: column; 
    }

    .project-info-box {
        margin-bottom: 20px; 
    }

    .right-column .col-md-7 {
        margin-left: auto; 
    }

    .row {
        flex-wrap: nowrap !important;
    }
    .heart-icon {
        color: lightgreen; 
        font-size: 40px;
    }

    .heart-button {
        background-color: rgba(0, 0, 0, 0.3); 
        border: none;
        border-radius: 50%; 
        width: 60px; 
        height: 60px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .position-relative {
        position: relative;
    }

</style>



<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>@Model.Name</h5>
                <p class="mb-0">@Model.Description</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Age:</b> @Model.Age</p>
                <p><b>Gender:</b> @Model.Gender</p>
                <p><b>Breed:</b> @EnumExtensions.GetDisplayName(Enum.Parse<Breed>(Model.Breed))</p>
                <p><b>Color:</b> @Model.Color</p>
                <p><b>Coat Length:</b> @Model.CoatLength</p>
            </div><!-- / project-info-box -->
        </div>

        <div class="right-column">
            <div class="col-md-7 position-relative">
                <!-- Container for image and heart icon -->
                <div class=" position-relative">
                    <!-- Image -->
                    <img src="@Model.CoverImageUrl" alt="project-image" class="rounded">
                    <!-- Heart icon -->
                    
                    @if (Model.isFavorite)
                    {
                        <form method="post" asp-controller="Cat" asp-action="RemoveFavorite" asp-route-catId="@Model.Id">
                            <button type="submit" class="btn btn-warning heart-button position-absolute top-0 end-0 m-2">
                                <i class="fas fa-heart heart-icon"></i>
                            </button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-controller="Cat" asp-action="AddFavorite" asp-route-catId="@Model.Id">
                            <button type="submit" class="btn btn-warning heart-button position-absolute top-0 end-0 m-2">
                                <i class="far fa-heart heart-icon"></i>
                            </button>
                        </form>
                    }

                </div>
                <!-- Project info box -->
                <div class="project-info-box">
                    <p><b>Date Added:</b> @Model.DateAdded.ToShortDateString()</p>
                    <p><b>Cattery:</b> @Model.CatteryName</p>
                </div><!-- / project-info-box -->
            </div>


            <div class="pro-img-list">
                @foreach (var imageUrl in Model.ImageUrls)
                {
                    <a href="#">
                        <img src="@imageUrl" alt="">
                    </a>
                }
            </div>
        </div>
    </div>
</div>
