@model CatGarden.ViewModels.Cat.CatDetailsViewModel
@using static CatGarden.Common.Enums
@using CatGarden.Web.Infrastructure.Extensions

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>@Model.Name</h5>
                <p class="mb-0">@Model.Description</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Age:</b> @Model.Age</p>
                <p><b>Gender:</b> @Model.Gender</p>
                <p><b>Breed:</b> @Model.Breed</p>
                <p><b>Color:</b> @Model.Color</p>
                <p><b>Coat Length:</b> @Model.CoatLength</p>
            </div><!-- / project-info-box -->
        </div>

        <div class="col-md-7">
            <img src="@Model.CoverImageUrl" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Date Added:</b> @Model.DateAdded.ToShortDateString()</p>
                <p><b>Cattery:</b> @Model.CatteryName</p>
            </div><!-- / project-info-box -->
        </div>
    </div>

    <div class="pro-img-list">
        @foreach (var imageUrl in Model.ImageUrls)
        {
            <a href="#">
                <img src="@imageUrl" alt="">
            </a>
        }
    </div>
</div>
